@function color($color, $tone){
  // @warn map-get($palettes, $color);

  @if map-has-key($palettes, $color){
    $color: map-get($palettes, $color);

      @if map-has-key($color, $tone){
        $tone: map-get($color, $tone);

        @return $tone;
      }

      @warn "unknown tone `#{$tone}` in color";
      @return null;        
  }
  
  @warn "unknown color `#{$color}` in palette";
  @return null;
}