@import './functions.scss';

$primary-color:  #1E7A75;
$secondary-color:  #46BC8F;
$highlight-color:  #FBD700;
$base-color: #202B36;
$neutral-color: #F5F7F9;
$positive-color: #2BB673;
$negative-color: #EB5757;

:root {
  --primary-color:  #{$primary-color};
  --secondary-color:  #{$secondary-color};
  --highlight-color:  #{$highlight-color};
  --base-color: #{$base-color};
  --neutral-color: #{$neutral-color};
  --positive-color: #{$positive-color};
  --negative-color: #{$negative-color};

  --percentage: 25;
  --opacity: calc(var(--percentage) * 0.01)
}

$palettes:(
  primary:(
    base:   var(--primary-color),
    light: dark(var(--primary-color), 12%),
    medium: dark(var(--primary-color), 32%),
    dark:   dark(var(--primary-color), 48%),
  ),

  secondary:(
    base:   var(--secondary-color),
    light:  dark(var(--secondary-color), 12%),
    medium: dark(var(--secondary-color), 32%),
    dark:   dark(var(--secondary-color), 48%),
  ),

  highlight:(
    base:   var(--highlight-color),
    light:  light(var(--highlight-color), 88%),
    medium: light(var(--highlight-color), 64%),
    dark:   dark(var(--highlight-color), 32%)
  ),

  base:(
    base:   var(--base-color),
    light:  light(var(--base-color), 48%),
    medium: light(var(--base-color), 4%),
    dark:   dark(var(--base-color), 72%),
  ),

  neutral:(
    base:   #FFFFFF,
    light:  dark(var(--neutral-color), 1%),
    medium: dark(var(--neutral-color), 5%),
    dark:   dark(var(--neutral-color), 10%)
  ),

  positive:(
    base:   var(--positive-color),
    light:  light(var(--positive-color), 88%),
    medium: light(var(--positive-color), 64%),
    dark:   dark(var(--positive-color), 32%)
  ),

  negative:(
    base:   var(--negative-color),
    light:  light(var(--negative-color), 88%),
    medium: light(var(--negative-color), 64%),
    dark:   dark(var(--negative-color), 32%)
  )
);